body, html
  line-height: 1
  font-family: '微软雅黑', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: #000
  color: $color-text
  font-size: 12px

input
  outline: none

.clearfix:before, .clearfix:after
  content: " "
  display: table

.clearfix:after
  clear: both

.el-message-box__wrapper
  z-index: 99999 !important




